<div class="center padded">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Ahora o nunca! Trabajemos juntos :)</h1>
                <p>Si estás buscando un desarrollador apasionado y comprometido, ¡has llegado al lugar correcto! Estoy aquí para ayudarte a llevar tus ideas al siguiente nivel.</p>
            </div>
            <div id="contacto" class="right padded">
                <form class="contact-form" method="post" action="{{ url_for('portfolio.mail') }}">
                    <input name="name" placeholder="Nombre" required/>
                    <input name="email" placeholder="Correo" required type="email"/>

                    <textarea name="message" placeholder="Mensaje" required minlength=10></textarea>
                    <button class="btn full-width">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>