<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>No estás convencido? Mira lo que he contruído!</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Proyecto 1</h3>
                <p>Descripción breve del proyecto 1. Aquí puedes hablar sobre las tecnologías utilizadas y el impacto del proyecto.</p>
                <a class="orange" target="_blank" href="https://luis-maria.vercel.app/">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Proyecto 2</h3>
                <p>Descripción breve del proyecto 2. Aquí puedes hablar sobre las tecnologías utilizadas y el impacto del proyecto.</p>
                <a class="orange" target="_blank" href="https://www.doslunasonline.com.ar/">Link aquí</a>
            </div>
            <div class="card third">
                <h3>Proyecto 3</h3>
                <p>Descripción breve del proyecto 3. Aquí puedes hablar sobre las tecnologías utilizadas y el impacto del proyecto.</p>
                <a class="orange" target="_blank" href="https://www.las-casonas.com.ar/">Link aquí</a>
            </div>
        </div>
    </div>
</div>